<div class="page-header">
    <h1>List of Customer Permissions</h1>
</div>
<div class="container-fluid">
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Organization Name</th>
                    <th>Last Modification Time</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="organization in vm.organizations track by organization.rid">
                    <td>{{organization.orgName}}</td>
                    <td>{{organization.contactName}}</td>
                    <td>{{(vm.statusCodes | filter: organization.status)[0].value}}</td>
                    <td>
                        <button class="btn btn-outline btn-info" ng-click="vm.viewCustomerPermissions(organization.rid)">View</button>
                        <button class="btn btn-outline btn-info" ng-click="vm.editCustomerPermissions(organization.rid)">Edit</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
