<form class="form-horizontal" name="userprofileform" novalidate>
<fieldset>

<!-- Form Name -->
<legend>{{vm.pageTitle}}</legend>

<!-- Text input-->
<div class="form-group" ng-hide="true">
  <label class="col-md-4 control-label" for="textinput">Organization ID</label>  
  <div class="col-md-5">
  <input id="textinput" name="textinput" type="text" placeholder="Organization ID" class="form-control input-md" required="" ng-model="vm.user.orgId" ng-readonly="vm.isView">
  </div>
</div>

<!-- Text input-->
<div class="form-group" ng-hide="true">
  <label class="col-md-4 control-label" for="textinput">User ID</label>  
  <div class="col-md-5">
  <input id="textinput" name="userId" type="text" placeholder="User ID"  class="form-control input-md" ng-model="vm.user.rid" ng-readonly="vm.isView">
  </div>
</div>

<!-- Text input-->
<div class="form-group {{userprofileform.userName.$invalid === true ? 'has-error'  : 'has-success'}}">
  <label class="col-md-4 control-label" for="textinput">User Name</label>  
  <div class="col-md-5">
  <input id="textinput" name="userName" type="text" placeholder="User Name" required class="form-control input-md" required="" ng-model="vm.user.userName" ng-readonly="vm.isView">
  </div>
  <div ng-show="userprofileform.userName.$invalid" ng-messages="userprofileform.userName.$error" style="color:maroon" role="alert">
    <div ng-message="required"> User Name Required</div>
  </div>
</div>

<!-- Text input-->
<div class="form-group {{userprofileform.password.$invalid === true ? 'has-error'  : 'has-success'}}">
  <label class="col-md-4 control-label" for="addressLine1">Password</label>  
  <div class="col-md-5">
  <input id="password" name="password" type="password" placeholder="password" required class="form-control input-md" required=""  ng-model="vm.user.password" ng-readonly="vm.isView">
  </div>
  <div ng-show="userprofileform.password.$invalid" ng-messages="userprofileform.password.$error" style="color:maroon" role="alert">
    <div ng-message="required"> Password Required</div>
  </div>
</div>

<!-- Text input-->
<div class="form-group {{userprofileform.firstName.$invalid === true ? 'has-error'  : 'has-success'}}">
  <label class="col-md-4 control-label" for="textinput">First Name</label>  
  <div class="col-md-5">
  <input id="textinput" name="firstName" type="text" placeholder="First Name" required class="form-control input-md" required="" ng-model="vm.user.firstName" ng-readonly="vm.isView">
  </div>
  <div ng-show="userprofileform.firstName.$invalid" ng-messages="userprofileform.firstName.$error" style="color:maroon" role="alert">
    <div ng-message="required"> First Name Required</div>
  </div>
</div>

<!-- Text input-->
<div class="form-group {{userprofileform.lastName.$invalid === true ? 'has-error'  : 'has-success'}}">
  <label class="col-md-4 control-label" for="textinput">Last Name</label>  
  <div class="col-md-5">
  <input id="textinput" name="lastName" type="text" placeholder="Last Name" required class="form-control input-md" required="" ng-model="vm.user.lastName" ng-readonly="vm.isView">
  </div>
  <div ng-show="userprofileform.lastName.$invalid" ng-messages="userprofileform.lastName.$error" style="color:maroon" role="alert">
    <div ng-message="required"> Last Name Required</div>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group {{userprofileform.status.$invalid === true ? 'has-error'  : 'has-success'}}">
  <label class="col-md-4 control-label" for="selectbasic">Status</label>
  <div class="col-md-2">
    <select id="selectbasic" name="status" required class="form-control" ng-if="!vm.isView" ng-model="vm.user.status" ng-options="status.code as status.value for status in vm.statusCodes">
    </select>
    <input class="form-control" ng-if="vm.isView" ng-readonly="true" ng-model="(vm.statusCodes | filter: vm.user.status)[0].value">
  </div>
  <div ng-show="userprofileform.status.$invalid" ng-messages="userprofileform.status.$error" style="color:maroon" role="alert">
    <div ng-message="required">Select Status</div>
  </div>
</div>

<!-- Text input-->
<div class="form-group {{userprofileform.addressLine1.$invalid === true ? 'has-error'  : 'has-success'}}">
  <label class="col-md-4 control-label" for="textinput">Address</label>  
  <div class="col-md-5">
  <input id="textinput" name="addressLine1" type="text" placeholder="Address Line 1" required class="form-control input-md" required="" ng-model="vm.user.addressLine1" ng-readonly="vm.isView">
  </div>
  <div ng-show="userprofileform.addressLine1.$invalid" ng-messages="userprofileform.addressLine1.$error" style="color:maroon" role="alert">
    <div ng-message="required"> Address Line 1 Required</div>
  </div>
</div>

<!-- Text input-->
<div class="form-group {{userprofileform.addressLine2.$invalid === true ? 'has-error'  : 'has-success'}}">
  <label class="col-md-4 control-label" for="textinput"></label>  
  <div class="col-md-5">
  <input id="textinput" name="addressLine2" type="text" placeholder="Address Line 2" required class="form-control input-md" required="" ng-model="vm.user.addressLine2" ng-readonly="vm.isView">
  </div>
  <div ng-show="userprofileform.addressLine2.$invalid" ng-messages="userprofileform.addressLine2.$error" style="color:maroon" role="alert">
    <div ng-message="required"> Address Line 2 Required</div>
  </div>
</div>

<!-- Text input-->
<div class="form-group {{userprofileform.dom.$invalid === true ? 'has-error'  : 'has-success'}}">
  <label class="col-md-4 control-label" for="textinput"></label>  
  <div class="col-md-5">
  <input id="textinput" name="dom" type="text" placeholder="Dom" required class="form-control input-md" required="" ng-model="vm.user.dom" ng-readonly="vm.isView">
  </div>
  <div ng-show="userprofileform.dom.$invalid" ng-messages="userprofileform.dom.$error" style="color:maroon" role="alert">
    <div ng-message="required">Dominion Required</div>
  </div>
</div>

<!-- Text input-->
<div class="form-group {{userprofileform.countryCode.$invalid === true ? 'has-error'  : 'has-success'}}">
  <label class="col-md-4 control-label" for="textinput">Country Code</label>  
  <div class="col-md-1">
  <input id="textinput" name="countryCode" type="text" placeholder="Country Code" required class="form-control input-md"  ng-model="vm.user.countryId" ng-readonly="vm.isView">
  </div>
  <div ng-show="userprofileform.countryCode.$invalid" ng-messages="userprofileform.countryCode.$error" style="color:maroon" role="alert">
    <div ng-message="required"> Country Code Required</div>
  </div>
</div>

<!-- Text input-->
<div class="form-group {{userprofileform.emailId.$invalid === true ? 'has-error'  : 'has-success'}}">
  <label class="col-md-4 control-label" for="textinput">Email</label>  
  <div class="col-md-5">
  <input id="textinput" name="emailId" type="text" placeholder="Email" required class="form-control input-md"  ng-model="vm.user.email" ng-readonly="vm.isView">
  </div>
  <div ng-show="userprofileform.emailId.$invalid" ng-messages="userprofileform.emailId.$error" style="color:maroon" role="alert">
    <div ng-message="required"> Email Id Required</div>
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Fax</label>  
  <div class="col-md-5">
  <input id="textinput" name="textinput" type="text" placeholder="Fax Number" class="form-control input-md" ng-model="vm.user.fax" ng-readonly="vm.isView">
  </div>
</div>

<div class="form-group {{userprofileform.phone.$invalid === true ? 'has-error'  : 'has-success'}}">
  <label class="col-md-4 control-label" for="textinput">Phone</label>  
  <div class="col-md-5">
  <input id="textinput" name="phone" type="text" placeholder="Phone" required class="form-control input-md" ng-model="vm.user.phone" ng-readonly="vm.isView">
  </div>
  <div ng-show="userprofileform.phone.$invalid" ng-messages="userprofileform.phone.$error" style="color:maroon" role="alert">
    <div ng-message="required"> Phone Number Required</div>
  </div>
</div>

<!-- Button (Double) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="button1id"></label>
  <div class="col-md-8">
    <button id="button1id" name="button1id" class="btn btn-outline btn-success" ng-if="vm.isNew" ng-click="vm.saveUser(vm.user)">Save</button>
    <button id="button2id" name="button2id" class="btn btn-outline btn-success" ng-if="vm.isEdit" ng-click="vm.updateUser(vm.user)">Update</button>
    <button id="button3id" name="button3id" class="btn btn-outline btn-warning" ng-click="vm.cancel()">Cancel</button>
  </div>
</div>
</fieldset>
</form>
