<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>New Customer Account</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Organization ID</label>  
  <div class="col-md-5">
  <input id="textinput" name="textinput" type="text" placeholder="Organization ID" class="form-control input-md" required="" ng-model="vm.customerAccount.customerOrgId" ng-readonly="vm.isView">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Account ID</label>  
  <div class="col-md-5">
  <input id="textinput" name="textinput" type="text" placeholder="Account ID" class="form-control input-md" ng-model="vm.customerAccount.account.rid" ng-readonly="vm.isView">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Account Number</label>  
  <div class="col-md-5">
  <input id="textinput" name="textinput" type="text" placeholder="Account Number" class="form-control input-md" required="" ng-model="vm.customerAccount.account.accountNo" ng-readonly="vm.isView">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="addressLine1">Account Description</label>  
  <div class="col-md-5">
  <input id="description" name="description" type="text" placeholder="Account Description" class="form-control input-md" required=""  ng-model="vm.customerAccount.account.description" ng-readonly="vm.isView">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Account Type</label>  
  <div class="col-md-5">
  <input id="textinput" name="textinput" type="text" placeholder="Account Type" class="form-control input-md" required="" ng-model="vm.customerAccount.account.accountType" ng-readonly="vm.isView">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Account Currency Code</label>  
  <div class="col-md-5">
  <input id="textinput" name="textinput" type="text" placeholder="Account Currency Code" class="form-control input-md" required="" ng-model="vm.customerAccount.account.curCode" ng-readonly="vm.isView">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Branch Number</label>  
  <div class="col-md-5">
  <input id="textinput" name="textinput" type="text" placeholder="Branch Number" class="form-control input-md" required="" ng-model="vm.customerAccount.account.branchNo" ng-readonly="vm.isView">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Over Draft Limit</label>  
  <div class="col-md-5">
  <input id="textinput" name="textinput" type="text" placeholder="Over Draft Limit" class="form-control input-md"  ng-model="vm.customerAccount.account.overdraftLimit" ng-readonly="vm.isView">
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Interest Rate</label>  
  <div class="col-md-5">
  <input id="textinput" name="textinput" type="text" placeholder="Interest Rate" class="form-control input-md" ng-model="vm.customerAccount.account.interestRate" ng-readonly="vm.isView">
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Interest Rate Credit</label>  
  <div class="col-md-5">
  <input id="textinput" name="textinput" type="text" placeholder="Interest Rate Credit" class="form-control input-md" ng-model="vm.customerAccount.account.interestRateCredit" ng-readonly="vm.isView">
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Interest Rate Debit</label>  
  <div class="col-md-5">
  <input id="textinput" name="textinput" type="text" placeholder="Interest Rate Debit" class="form-control input-md" ng-model="vm.customerAccount.account.interestRateDebit" ng-readonly="vm.isView">
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Active</label>  
  <div class="col-md-5">
  <input id="textinput" name="textinput" type="text" placeholder="Active" class="form-control input-md" ng-model="vm.customerAccount.account.active" ng-readonly="vm.isView">
  </div>
</div>

<!-- Button (Double) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="button1id"></label>
  <div class="col-md-8">
    <button id="button1id" name="button1id" class="btn btn-success" ng-if="vm.isNew" ng-click="vm.saveCustomerAccount()">Save</button>
    <button id="button2id" name="button2id" class="btn btn-success" ng-if="vm.isEdit" ng-click="vm.updateCustomerAccount()">Update</button>
    <button id="button3id" name="button3id" class="btn btn-warning" ng-click="vm.cancel()">Cancel</button>
  </div>
</div>
</fieldset>
</form>
