<div class="page-header">
    <h1>List of Bank User Permissions</h1>
</div>
<div class="container-fluid">
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>Last Modification Time</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in vm.users track by user.rid">
                    <td>{{user.userName}}</td>
                    <td>{{user.modifiedDttm}}</td>
                    <td>{{(vm.statusCodes | filter: user.status)[0].value}}</td>
                    <td>
                        <button class="btn btn-outline btn-info" ng-click="vm.viewBankUserPermissions(user.rid)">View</button>
                        <button class="btn btn-outline btn-info" ng-click="vm.editBankUserPermissions(user.rid)">Edit</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
