<div class="page-header">
    <h1>List of Pending Fund Transfer Transactions</h1>
</div>
<div class="container-fluid">
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>System ID</th>
                    <th>Product Type</th>
                    <th>Ccy</th>
                    <th>Amount</th>
                    <th>Value Date</th>
                    <th>Counterparty</th>
                    <th>Account Number</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="fundTransfer in vm.pendingFTs track by fundTransfer.rid">
                    <td>{{fundTransfer.refId}}</td>
                    <td>{{fundTransfer.ftType}}</td>
                    <td>{{fundTransfer.ftCurCode}}</td>
                    <td>{{fundTransfer.ftAmt}}</td>
                    <td>{{fundTransfer.issDate | date:'dd-MMM-yyyy'}}</td>
                    <td>{{fundTransfer.counterparty.counterpartyType === '01'? fundTransfer.counterparty.counterpartyActNo : fundTransfer.counterparty.counterpartyName}}</td>
                    <td>{{fundTransfer.applicantActNo}}</td>
                    <td>{{(vm.tnxStatusCodes | filter: fundTransfer.tnxStatCode)[0].value}}</td>
                    <td>
                        <button class="btn btn-outline btn-info" ng-click="vm.viewFundTransfer(fundTransfer.rid)">View</button>             
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
